[user]
	name = Leo Lahti
	email = leo@lahti.pw

[init]
	defaultBranch = main
	; templatedir = ~/.git_template
[core]
	editor = nvim
[merge]
	tool = nvimdiff
[alias]
	ctags = !.git/hooks/ctags
	cscope = !.git/hooks/cscope
[pull]
	rebase = true
[commit]
	; gpgsign = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[gpg]
	; program = /home/leo/.local/bin/gpggit
